.industries-section__background {
    mask-image: url('/images/bg-pattern.svg');
    mask-repeat: repeat-x;  /* This is the correct way to repeat horizontally */
}


@keyframes movePattern {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100px 100px; /* Adjust the distance for movement */
    }
  }