@use "./_breakpoints" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #eee;
}

body {
  color: var(--fg-1);
  background: var(--bg-3);
  min-height: 100vh;
  position: relative;
}

header,
body {
  @media screen and (min-width:$breakpoint-BIGGEST) {
    max-width: $breakpoint-BIGGEST;
    left: 50%;
    transform: translateX(-50%);
  }
}

p {
  white-space: pre-line;
}

strong {
  font-weight: lighter;
}

.fading-text {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}




.hover-pop {
  transition: transform 100ms ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.hover-bg-1 {
  &:hover {
    background-color: var(--bg-1);
  }
}

.hover-text-1 {
  &:hover {
    color: var(--bg-1);
  }
}

///////// Transitions ////////////////

.text--collapsed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 200ms ease-in-out,
    opacity 300ms ease-in-out;
}

.text--expanded {
  max-height: 5000px;
  overflow: visible;
  opacity: 1;
  transition:
    max-height 600ms ease-in-out,
    opacity 300ms ease-in-out 80ms;
}

///////// Animations ///////////////

.fade-in {
  @media screen and (min-width: $breakpoint-md) {
    animation: fade-in 250ms ease-out forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}