@use "./_breakpoints" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--fg-1);
  background: var(--bg-3);
}

strong {
  font-weight: lighter;
}

.hover-pop {
  transition: transform 100ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.hover-bg-1 {
  &:hover {
    background-color: var(--bg-1);
  }
}

.hover-fg-1 {
  &:hover {
    color: var(--bg-1);
  }
}

///////// Transitions ////////////////

.text--collapsed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 200ms ease-in-out,
    opacity 300ms ease-in-out;
}

.text--expanded {
  max-height: 5000px;
  overflow: visible;
  opacity: 1;
  transition:
    max-height 600ms ease-in-out,
    opacity 300ms ease-in-out 80ms;
}

///////// Animations ///////////////

.fade-in {
  @media screen and (min-width: $breakpoint-md) {
    animation: fade-in 250ms ease-out forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}