// Tailwind breakpoints

  $breakpoint-SMALLEST: 320px;
  $breakpoint-xs: 490px;
  $breakpoint-sm: 640px;
  $breakpoint-md: 768px;
  $breakpoint-lg: 1024px;
  $breakpoint-xl: 1280px;
  $breakpoint-2xl: 1536px;
  $breakpoint-BIGGEST: 1920px;