:root {
    --bg-1: #bb6b00;
    --bg-2: #832232;
    --bg-3: #f3f9e3;
    --bg-4: #c89fa3;
    
    --fg-1: #171717;
    --fg-2: #ffffff;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: #0a0a0a;
//         --foreground: #ededed;
//     }
// }