:root {
    --bg-1: #bb6b00;
    --bg-2: #832232;
    --bg-3: #f3f9e3;
    --bg-4: #c89fa3;

    --fg-1: #171717;
    --fg-2: #ffffff;
}

.bg-1 {
    background: var(--bg-1);
}

.bg-2 {
    background: var(--bg-2);
}

.bg-3 {
    background: var(--bg-3);
}

.bg-4 {
    background: var(--bg-4);
}