* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--fg-1);
  background: var(--bg-3);
}

strong {
  font-weight: lighter;
}

///////// Animations ////////////////


.text--collapsed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 250ms ease-in-out,
    opacity 80ms ease-in-out;
}

.text--expanded {
  max-height: 5000px;
  overflow: visible;
  opacity: 1;
  transition:
    max-height 800ms ease-in-out,
    opacity 500ms ease-in-out 80ms;
}
