.about__decoration {
  position: relative;
  display: none;
  max-height: 100%;
  aspect-ratio: 3/4;

  @screen xl {
    display: block;
    scale: 70%;
  }

  img {
    position: absolute;
    inset: -20%;
    box-shadow: 0 10px 10px 1px #000b;
    transition: transform 300ms ease;

    &:hover {
      z-index: 2;
      box-shadow: 0 5px 12px 5px #000b;
    }
  }

  img:nth-child(1) {
    aspect-ratio: 2.42 / 2.98;
    scale: 66%;
    transform: rotate(352.4deg) translate(0, 8%);

    &:hover {
      transform: rotate(356deg) translate(0%, 8%) scale(1.1);
    }
  }

  img:nth-child(2) {
    aspect-ratio: 2.38 / 2.32;
    scale: 64%;
    transform: rotate(8deg) translate(100%, 0%);

    &:hover {
      transform: rotate(6deg) translate(95%, 0%) scale(1.1);
    }
  }

  img:nth-child(3) {
    aspect-ratio: 2.42 / 2.98;
    scale: 66%;
    transform: rotate(8deg) translate(32%, 59%);

    &:hover {
      transform: rotate(4deg) translate(20%, 68%) scale(1.1);
    }
  }

  img:nth-child(4) {
    aspect-ratio: 2.1 / 2.4;
    scale: 60%;
    transform: rotate(350deg) translate(84%, 100%);

    &:hover {
      transform: rotate(354deg) translate(84%, 100%) scale(1.1);
    }
  }

  img:nth-child(5) {
    aspect-ratio: 2.1 / 2.4;
    scale: 60%;
    transform: rotate(341deg) translate(20%, 145%);

    &:hover {
      transform: rotate(350deg) translate(45%, 136%) scale(1.1);
    }

  }
}