.carousel {
    >.current {
        transform: scale(1) translate(-3%);
        z-index: 2
    }

    >.second {
        transform: scale(.9) translate(10%);
        z-index: 1
    }

    >.third {
        transform: scale(.8) translate(20%);
        z-index: 0;
    }
}

.swipe-left {
    transition: all;
}

@keyframes swipe-left {
    0% {
        transform: translate(0);
    }

    100% {
        transform: rotate(30) translate(-100%, -50%);
    }
}